.well
{
	margin: 80px 330px !important;
	background-color: white !important;
}
#inputboxdesign		/*textboxes style design*/
{
	height: 45px;
	border: transparent;
	background-color: #efeff4;
	width: 80%;
	font-size: 15px;
}
.glyphicon
{
	font-size: 20px !important;
	float: left;
	padding-top: 12px;
	opacity: 0.5;
}
.input-group-addon
{
	border: none !important;
}
img
{
	height: 90px;
	width: 170px;
}
.badge   /*question mark symbol design*/
{
	padding: 2px 4px !important;
	background-color:  #c8c5c6 !important;
}
#closeicon  /*close icon design*/
{
	float: right;
	color:  #b4acaf;
	padding: 0px;
}
#closeicon:hover
{
	cursor: pointer;
}
.alert-danger  /*warning alert message style*/
{
	background-color: #fcc !important;
	color: black !important;
	font-weight: bold;
	height: 40px;
	text-align: center;
	border: none !important;
	margin-bottom: 0px !important;
	padding-top: 10px !important;
	font-size: 15px;
	opacity: 0.7;
}
.btn-primary
{
	background-color: #2d5be3 !important;
}
.btn-lg
{
	padding: 13px 40px !important;
}
h3  /*foursqare text style*/
{
	margin: 25px 80px;
	opacity: 0.8;
}
.btn-lg:hover
{
	opacity: 0.9;	
}
.alert, .hide
{
	display: none;
}
.popover
{
	background-color: #fcc !important;
	z-index: 100;
}
.col-lg-3, .col-lg-6
{
	padding-right: 2px !important;
	padding-left: 2px !important;

}
.glyphicon-ok 	/*tick mark style*/
{
	color: #5a8dbd;
	padding: 15px 40px;
}
.glyphicon-remove	/*wrong tick mark style*/
{
	color: red;
	padding: 15px 40px;
}
.padding	/*add style padding after popover*/
{
	padding-bottom: 18px;
}
.size 	/*popover text size*/
{
	font-size: 12px;
}
.row
{
	padding: 10px;
}
